---
import { ViewTransitions } from "astro:transitions";
import { pwaInfo } from "virtual:pwa-info";
import Navbar from "@components/navbar/navbar.astro";
import Footer from "@components/footer.astro";
import "@fontsource-variable/inter";
import "@fontsource/young-serif";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  lang?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/meta/opengraph.png",
  Astro.site,
).toString();

const { title, lang = null } = Astro.props;

const makeTitle = title
  ? `${title} | AlumniLift`
  : "AlumniLift - Alumni powering the future of research, one project at a time";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <ViewTransitions />

    <!-- Global CSS -->
    <link rel="stylesheet" href="/index.css" />

    <SEO
      title={makeTitle}
      description="University research funding is under pressure. Faculty face growing uncertainty, while alumni want to give back. At AlumniLift, we’re creating a secure, alum-managed crowdfunding platform that connects Harvard researchers with the global alumni community"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `AlumniLift - Alumni powering the future of research, one project at a time`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "AlumniLift - Alumni powering the future of research, one project at a time",
        },
      }}
    />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
